/* Form Container */
.form {
    margin-top: 200px;
    margin-left: 500px;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
  }
  
  .MuiTextField-root {
    margin-top: 100px;
    width: 300px;
  }
  
  .MuiTextField-root + .MuiTextField-root {
    margin-top: 20px;
  }
  .MuiTextField-root + .buttonContainer {
    margin-top: 20px;
  }
  
  .MuiTextField-root .MuiInputBase-input {
    height: 10px;
  }
  
  /* Custom Text Field Stilleri */
  .custom-textfield fieldset {
    border-radius: 95px;
    border: 1px solid #56c596;
  }
  
  /* Button Stilleri */
  .MuiButton-root {
    margin-top: 30px;
  }
  
  /* Özel arka plan rengi */
  .custom-bg.MuiButton-root {
    border-radius: 40px;
    width: 100px;
    color: #fff;
    background-color: #56c596;
  }
  
  /* Üzerine gelindiğinde arka plan rengi */
  .custom-bg:hover {
    animation: colorButton 1s linear infinite;
    border-radius: 50px;
    color: #fff;
  }
  
  .buttonContainer {
    display: flex;
  }
  
  .custom-bg + .custom-bg {
    margin-left: 20px;
  }
  
  /* Renk Animasyonu */
  @keyframes colorButton {
    0% {
      background-color: #cff4d2;
    }
    25% {
      background-color: #7be495;
    }
    50% {
      background-color: #56c596;
    }
    75% {
      background-color: #329d9c;
    }
    100% {
      background-color: #205072;
    }
  }
  
  /* Login-Signup Metni */
  .login-text {
    background-image: linear-gradient(to right, #205072, #329d9c, #56c596, #7be495);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    display: inline;
    transform: translate(-10%, 10%);
    font-size: 20px;
    font-weight: bold;
  }
  
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }